<%
  const Helmet = require("react-helmet").Helmet;
  const helmet = Helmet.renderStatic();
%><!DOCTYPE html>
<html lang="en-US"<%= helmet.htmlAttributes.toString() %>>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <%= helmet.title.toString() %>
  <%= helmet.meta.toString() %>
  <%= helmet.link.toString() %>
  <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="manifest" href="manifest.json">
  <link rel="shortcut icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="resources/fonts/font-icomoon/style.css">
  <link rel="stylesheet" type="text/css" href="resources/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="resources/fonts/font-linearicons/style.css">
</head>
<body<%= helmet.bodyAttributes.toString() %>>
  <div id="root"></div>
</body>
</html>
